
body { min-height: 1200px ; background: #0099FF; font-family: sans-serif; font-size: 8pt; }
#timesheet { min-height: 200px; }

h2 { font-family: Verdana; font-size: 120%; font-weight: bold;}
h3 { font-family: Verdana; font-size: 110%; font-weight: bold;}
h4 { font-family: Verdana; font-weight: bold; }

a { text-decoration: underline; color: #a96; font-weight: bold; }
p { padding: 0.3em 0; line-height: 10pt; }

.std { border: 2px solid #000; background: #fff; padding: 1em; margin-bottom: 1em; overflow: hidden; }
.std h2 { font-size: 14pt; color: #666; border-bottom: 3px solid #eee; margin-bottom: 10px; }
.clear { clear: both; }
.inline { display: inline }
#wrap { width: 80%; margin: 0px auto; padding-top: 30px; }
#top { }

#search-box { width: 40%; float: right; }
#top-left-block { width: 40%; }

#top-menu { clear: both; }

#content { clear: both; margin-top: 1em; }

/** HOME PAGE STUFF **/
.largeDualList a, .largeList a { font-size: 20px; padding: 5px 2em; font-weight: bold; color: #666; text-decoration: none; }
.block { display: block; }
.largeDualList { width: 720px; margin: 0px auto; }
.largeDualList li { display: block; float: left; width: 340px; margin: 10px; height: 36px; background: #efefef; }

.largeList { width: 300px; }
.largeList li { font-size: 20px; display: block; width: 280px; padding: 10px; height: 36px; background: #efefef; margin-bottom: 5px; }

a.inlineAction { display: inline; padding: 5px 0;}

#admin-links { float: right; }
#admin-links li { float: left; }

.november-flash { border: 2px solid #000; background: #ffc; padding: 1em; margin-bottom: 1em; }

/** Form fields **/
.simpleDialog { background: #efefef; max-height: 500px; }
.dialog { display: none; }
.dialogContent {overflow: auto; min-height: 300px; max-height: 480px; padding: 0.3em; }
.dialogClose { background:#000000; color:#FFFFFF; cursor:pointer; font-weight:bold; position:absolute; right:0; text-align:center; top:0; width:20px; }
input, select, textarea { font-size: 1em; padding: 0.4em; }
option, textarea, input[type=text], input[type=password] { border: 1px solid #ddd; background: #fff url(input-bg.png) repeat-x scroll bottom; }

.calendar { z-index: 1001 }
.ui-datepicker { z-index: 2000 }

.data-form input, .data-form select, .data-form textarea { width: 300px; }
.data-form textarea, .data-form select, .data-form input[type=text] { font-size: 12pt }
.data-form textarea { min-height: 150px; }
.data-form input[size], textarea[cols] { width: auto; }
.data-form p, .dataDetail p { padding: 0.7em; display: block; }
.data-form .valuelisttext { width: 80px; }
.data-form .valuelistselect { width: 210px; }
.data-form input[type=submit], .data-form input[type=button] { width: auto; }
.data-form .calendarInput { width: 100px }
.data-form label, .dataDetail label { display: block; float: left; width: 150px; margin-right: 2em; }

fieldset { margin-bottom: 1em; background-color: #ffffdc; }
fieldset { border-bottom: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #fff; border-left: 1px solid #fff; }
legend { padding: 0.2em; background-color: #66ccff; color: #666; margin-left: 80%; width: 10%; border: 1px solid #000; }

/** TABLES **/
.item-table { width: 100%; margin: 0; padding: 0; border-collapse: collapse; border: 1px solid #ddd; }
.item-table tr.odd { background-color:#fafafa; }
.item-table tr.even { background-color:#fff; }
.item-table thead tr.even, .item-table thead tr.odd { background-color: #ccc; }
.item-table th {text-align: center;}
.item-table th, .item-table td { padding: 4px;}

.newbutton { background: transparent url(../../../resources/images/add.png) no-repeat; }
.editbutton { background: transparent url(../../../resources/images/pencil.png) no-repeat; }
.deletebutton { background: transparent url(../../../resources/images/delete.png) no-repeat; }
.exportbutton { background: transparent url(database_go.png) no-repeat; }

/** PAGES **/
#parent-links { float: right; display: block; width: 140px; }
.hierarchy-breadcrumb { display: inline; }
.dataDetail { font-size: 8pt; }
.inner-column { float: left; width: 45%; margin-right: 4%; }

.project-tree {	padding: 1em; border: 1px solid #000; background-color: #fff; min-width: 400px; }

.top-margin { margin-top: 1em; }

a.abutton  { text-decoration: none;}
.abutton { background: #9d4; border: 1px solid #ccc; min-width: 80px; padding: 0.2em; font-size: 10pt; font-weight: bold; color: #666; }
.abutton:hover { background: #9f4; }

.task-summary { margin: 2em; }

/** FEATURES **/
#featureList ul { margin-left: 3em; }
#featureList ul li { min-height: 3em; }
.dragTitle { background-color: #eee; margin-bottom: 0.5em; }
.feature-body { overflow: auto; margin-bottom: 2em; }
.feature-title a { color: #666; }

.feature-estimate { width: 150px; float: left; border-right: 1px solid #ccc; }
.estimate { font-size: 72px; font-weight: bold; color: #ddd; text-align: center; }
.feature-content { margin-left: 180px; min-height: 150px; padding-bottom: 1em; border-bottom: 1px solid #ccc; }

/*.featureDepth1 { padding-left: 75px; }
.featureDepth2 { padding-left: 150px; }
.featureDepth3 { padding-left: 225px; }*/

.milestone-entry { border: 2px solid #666; margin-bottom: 1em; padding: 1em;}
.milestone-entry ul li { padding: 0.5em; }
.milestone-title { font-family: Verdana, Arial, sans-serif; color: #666; margin-top: 1em;  }
.milestone-title a { color: #666; border-bottom: 1px solid #ccc;}

.linkedItemList { margin-left: 2em; }

.featureComplete {background-color: #deffde; }

.editable-feature { border: 1px dashed #eee;}

/** Timesheet **/

#task-time { width: 80%; margin: 0px auto; font-weight: bold; padding: 10px; border: 1px solid #fff; background: #fefefe; color: #ccc; font-size: 52px; }
#item-title {background: #fefefe;  font-weight: bold; font-size: 14pt; }